
<body style="width: 100%;height: 100%;">
    <div>
        <img src="https://media.architecturaldigest.com/photos/590cc6c3b3064307ffee59a4/master/w_3000,h_2000,c_limit/Tallest%20Restaurants%20in%20the%20World%207.jpg" alt="homeImg1">
        
        <div id="lgndiv">            
            <div id="logodiv">
                <td><img src="../../assets/rms-ico.png" alt="logo"></td>
            </div>

            <div id="tblDiv">
                <table id="tblStyle">
                    
                    <tr><td>
                        <select name="branch" id="BranchId" class="txtbox">
                            <option value="India">INDIA</option>
                            <option value="UAE">UAE</option>
                            <option value="India">QATAR</option>
                        </select>
                    </td></tr>
                    <tr><td><input type="text" class="txtbox" placeholder="Login Id"></td></tr>
                    <tr><td><input type="password" class="txtbox" placeholder="Password"></td></tr>
                    
                    <tr><td align="right"><a href="" >Forgot Password</a> </td></tr>
                    <tr><td align="center" ><button id="btnLogin">LOGIN</button></td></tr>
                </table>
            </div>
            
        </div>
    
    </div>
    
</body>
