  <div id="topMenu">
   
    <span>
    <img src="../../assets/rms-ico.png" alt="logo" width="100px" height="60px">
   </span>

   <span id="logout">
      <button>logout</button>
    </span>   
  </div>

<div class="mainmenu" >
  <div>
    <span>
      <a routerLink="dashboard"> <button type="button" class="btn-hover color-1" >DASHBOARD</button></a><br>
      <a routerLink="logout"><button type="button" class="btn-hover color-5">LOGOUT</button></a> <br>
        <a routerLink="resturant"> <button type="button" class="btn-hover color-2">RESTURANT</button></a><br>
        <a routerLink="pos"> <button type="button" class="btn-hover color-3">POS</button></a><br>
        <a routerLink="reports"> <button type="button" class="btn-hover color-4">REPORTS</button></a>  <br>
      
        
     </span> 
  </div>  
  <div class="contentDiv">

    <router-outlet></router-outlet>
  </div>
</div>

 

  


  